:root {
  --bg: #eeeeee;
  --fg: #03032b;
  --primary: #f7e34f;
  --accent1: #4381c1;
  --accent2: #15b097;
}

html,
body {
  height: 100%;
  width: 100;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.4em;
  background-color: var(--bg);
  color: var(--fg);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--fg);
  color: var(--bg);
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  img {
    height: 3rem;
    border-radius: 50%;
  }

  > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 1rem;

    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      transition: transform 200ms ease;

      &:hover {
        text-decoration: underline;
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

main {
  padding: 2rem;
  flex: 1;
}

header {
  text-align: center;
  line-height: 4rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;

  > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      background-color: var(--fg);
      height: 3rem;
      width: 3rem;
      display: inline-block;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      transition: transform 200ms ease;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }

      &.instagram {
        mask-image: url("assets/instagram.svg");
      }

      &.tiktok {
        mask-image: url("assets/tiktok.svg");
      }
    }
  }
}

.inline-img {
  float: left;
  width: 25rem;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
