:root {
	--bg: #eeeeee;
	--fg: #03032b;
	--primary: #f7e34f;
	--accent1: #4381c1;
	--accent2: #15b097;
}

html,
body {
	height: 100%;
	width: 100;
	font-family: 'IBM Plex Sans', sans-serif;
	line-height: 1.4em;
	background-color: var(--bg);
	color: var(--fg);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	padding: 2rem;
	flex: 1;
}

header {
	text-align: center;
	line-height: 4rem;
}

.inline-img {
	float: left;
	width: 25rem;
	height: auto;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
